	*{
		margin: 0px;
		padding: 0px;
	}
	
	#Bg{
				width: 100%;
				min-width: 1000px;
				background: url(../img/index/background.jpg) no-repeat;
			}
			
			#nav{
				width: 100%;
				min-width: 1000px;
				height: 70px;
				background: #292B2E;
				
			}
			#nav_container{
				position: relative;
				width: 1000px;
				margin: auto;
			}
			#logo{
				width: 180px;
				height: 70px;
				position: relative;
				background: #000000;
				left: 0px;	
				float: left;
			}
			#logo h2{
				color: red;
				font-family: "微软雅黑";
				font-size: 40px;
				text-align: center;
				margin-top: 5px;
		
				
			}
			#txt{
				position: absolute;
				right: 0px;
				width: 400px;
				height: 70px;
				float: left;
				
				}
			#txt ul{
				/*width:620px;*/
				height: 70px;
				list-style: none;
				text-decoration: none;

			}
			#txt ul li{
				color: white;
				font-family: "微软雅黑";
				font-size: 20px;
				float: left;
				/*margin-left: 15px;*/
				text-decoration: none;
				width: 90px;
				height: 70px;
				/*margin-top: 10px;*/
			}
			#txt ul li a{
				display: block;
				height: 70px;
				width: 90px;
				line-height: 70px;
				font-size: 15px;
				color: white;
				text-decoration: none;
				text-align: center;
			}
			.active{
				margin-left: 17px;
			}
			.d1{
				/*border-left:1px solid #414345;*/
				border-right:1px solid #414345;
				
			}
			.d2{
				border-left:1px solid #414345;
				border-right:1px solid #414345 ;
				
			}
			#txt ul li :hover{
				background: orangered;
				
			}
.clearF{
	clear: both;
	
	
}
#ZJ{
	width: 1000px;
	height: 700px;
	/*border: 1px solid red;*/
	margin:auto;
	margin-top: 70px;
	margin-bottom: 0px;
	/*margin-left: 188px;*/
}
#ZJ ul{
	
}
#ZJ ul li{
	display: block;
	width: 240px;
	height: 120px;
	margin: 4px;
	float: left;
	list-style: none;
}
.container{
	width: 240px;
	height: 120px;
	position: absolute;
}
.text{
	opacity: 0.8;
}
.cover{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: silver;
	
}
.container:hover{
	border: 1px dashed white;
}
.container:hover .cover{
	opacity: 0.2;
}
#footer{
	/*border: 1px solid red;*/
	width: 200px;
	
	margin: 0 auto;
}
#span1{
	font-family: "微软雅黑";
	font-size: 18px;
}
#span2{
	font-family: "微软雅黑";
	font-size: 12px;
	color: green;
}
